.slider-area {
    /* background: rgb(124, 38, 161); */
    /* linear-gradient(164deg, rgba(124, 38, 161, 1) 0%, rgba(255, 89, 91, 1) 100%), */
    background: url('/assets/images/home/main.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: relative;
    padding-top: 150px !important;
    padding-bottom: 130px !important;
}

.slider-content h1 {
    font-size: 71px;
    color: rgba(255, 255, 255, 1);
}

.slider-content p {
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
}

.slider-button {
    padding: 10px 12px 10px 12px;
    font-weight: 500;
    color: #fff;
    background: rgba(148, 191, 240, 0.5);
    display: inline-block;
    border-radius: 30px;
    border: 1px solid rgba(148, 191, 240, 0.5);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slider-button:before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: rgba(67, 185, 127, 1);

    border-radius: 30px;
    transition: .5s;
}

.slider-button:hover {
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(67, 185, 127, 1) !important;
}

.slider-button:hover:before {
    width: 100%;
    left: 0;
}

/*slider contact*/

.banner-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 0 20px;
    max-width: 470px;
    gap: 15px;
}

.slider-contact-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.contact-icon {
    width: 60px;
}

.contact-icon img {
    max-width: 100%;
}

.contact-number {
    flex: 1;
}

.contact-number span {
    color: #858B97;
}

.contact-number h3 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
    margin-top: 5px;
}

.contact-number h3 a {
    color: inherit;
}

/*video button*/
.video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px dashed #fff;
    border-radius: 50%;
    padding: 7px;
    transform: translate(-50%, -50%);
}

.video-icon a {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    color: #FF3B00;
    background: #fff;
    display: inline-block;
    font-size: 26px;
}

.style-two.video-icon {
    position: absolute;
    top: 80px;
    right: 13px;
    left: inherit;
    border: 0;
    border-radius: 50%;
    padding: 7px;
    transition: .5s;
    opacity: 0;
}

.style-two.video-icon a {
    width: 48px;
    height: 48px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ff3c00;
    display: inline-block;
    font-size: 15px;
}

.case-study-thumb:hover .style-two.video-icon {
    top: 60px;
    opacity: 1;
}

/*video*/
.style-three .upp.style-two.video-icon {
    position: absolute;
    top: 40px;
    right: 169px;
    left: inherit;
    border: 0;
    border-radius: 50%;
    padding: 7px;
    transition: .5s;
    opacity: 1;
}

.style-three .upp.style-two.style-two.video-icon a {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ff3c00;
    display: inline-block;
    font-size: 16px;
}

/*slider shape*/
.slider-shape-thumb {
    position: absolute;
    left: -30px;
    top: 0;
    animation: moveLeftBounce 4s linear infinite;
    z-index: -1;
    opacity: .3;
}

.slider-shape-thumb2 {
    position: absolute;
    left: -110px;
    top: 0;
    animation: moveLeftBounce 3s linear infinite;
    z-index: -1;
    opacity: .5;
    -webkit-animation: moveLeftBounce 3s linear infinite;
}

/***slider two***/

/*slider content*/
.slider2 .slider-content h1 {
    font-size: 66px;
}

.slider2 .slider-content p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    max-inline-size: 40ch;
    line-height: 30px;
    position: relative;
    z-index: 1;
    border-left: 3px solid #ff3c00;
    padding-left: 1rem;
}

/*slider button2*/
.slider2 .slider-button a {
    padding: 13px 40px;
    display: inline-block;
}

.slider2 .slider-button a svg {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 6px;
    width: inherit;
    height: inherit;
    background: inherit;
    color: #fff;
    transition: .5s;
}

.slider2 .slider-button a:hover svg {
    background: #fff;
    color: #f6881f;
}

/*slider shape*/
.slider-shape-thumb3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.slider-shape-thumb4 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    animation: moveLeftBounce 3s linear infinite;
    -webkit-animation: moveLeftBounce 3s linear infinite;
}

@keyframes moveLeftBounce {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slider-shape-thumb5 {
    position: absolute;
    left: 85px;
    top: 310px;
    z-index: -1;
}

.slider-shape-thumb6 {
    position: absolute;
    left: 40%;
    top: 18%;
}

.slider-shape-thumb7 {
    position: absolute;
    left: 165px;
    bottom: 101px;
}

.slider-shape-thumb8 {
    position: absolute;
    left: 46%;
    top: 18%;
}

.slider-shape-thumb9 {
    position: absolute;
    left: 49%;
    bottom: 7%;
    z-index: -1;
}

.video-icon {
    display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* .slider-content {
    margin-top: 230px;
  } */

    .slider-content h3 {
        font-size: 15px;
    }

    .slider-content h1 {
        font-size: 26px;
    }

    .slider-content p {
        font-size: 14px;
        width: 100%;
        text-align: justify;
    }

    .slider-button {
        float: inherit;
    }

    .contact-number {
        display: none;
    }

    .contact-icon {
        width: 56px;
    }

    .slider-thumb img {
        width: 100% !important;
        height: 50% !important;

    }

    .slider-thumb {
        padding: 35px 0 0;
    }

    /* .slider-area {
        height: 995px;
    } */

    .banner-buttons {
        justify-content: center;
        width: auto !important;
        position: static !important;
        gap: 20px;
    }

    .dedcription-btn {
        width: 100% !important;
    }

    .userOptions {
        flex-direction: column !important;
        gap: 10px !important;
        top: 0px !important;
        max-width: 415px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

/* @media (min-width: 992px) and (max-width: 2999px) {
  .slider-thumb img {
    width: 100%;
  }
} */

@media (min-width: 768px) and (max-width: 991px) {
    .slider-thumb img {
        width: 100%;
    }

    .userOptions {
        gap: 10px !important;
        top: 0px !important;
        max-width: auto !important;
    }

    .banner-buttons {
        justify-content: center;
        width: auto !important;
        position: static !important;
        gap: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
    .slider-thumb {
        padding: 35px 0 0;
    }

    .slider-thumb img {
        width: 80%;
        height: 50%;
    }

    .slider-content {
        margin-top: 130px;
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .slider-content h1 {
        font-size: 56px !important;
    }

    .banner-buttons {
        gap: 20px !important;
    }

}

/* Button.module.css */
.dedcription-btn {
    width: 50%;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #fcfcfc;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-size: 18px;
    padding: 9px 0;
    transition: all 0.3s;
    padding-right: 40px;
    margin: 20px 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dedcription-btn .btn-icon {
    background-color: #ffa000;
    width: 65px;
    height: 45px;
    float: right;
    position: absolute;
    border-radius: 10px;
    right: 0px;
    top: 0px;
    transition: all 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.name-descripeion {
    position: relative;
    z-index: 9999;
}

.dedcription-btn:hover .btn-icon {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dedcription-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
}

.btn-icon svg {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #fff;
}

.dedcription-btn:hover {
    color: #fff !important;
}

/* job holder */

.worked-box {
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 40px 40px -25px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 100%;
    max-width: 210px;
    position: absolute;
    bottom: 100px;
    right: 150px;
}

.worked-more {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: normal;
}

.client-img-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-img {
    border-radius: 50%;
    cursor: pointer;
}

.client-img1 {
    position: relative;
}

.client-img:hover {
    z-index: 10;
}

.client-img2 {
    position: absolute;
    left: 30px;
}

.client-img3 {
    position: absolute;
    left: 60px;
}

.client-img4 {
    position: absolute;
    left: 90px;
}

.worked-box1 {
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.7);
    box-shadow: 0px 40px 40px -25px rgba(0, 0, 0, 0.25);
    padding: 10px;
    max-width: 150px;
    position: absolute;
    bottom: 520px;
    left: 910px;
}

.worked-more1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: normal;
}

.worked-more2 {
    color: rgba(45, 64, 101, 1);
    font-size: 15px;
    line-height: normal;
    font-weight: bold;
    text-align: center;
}

.client-img-main1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-img1 {
    border-radius: 50%;
    cursor: pointer;
}

.client-img1 {
    position: relative;
}

.client-img:hover {
    z-index: 10;
}

.worked-box2 {
    padding: 10px;
    max-width: 235px;
    position: absolute;
    right: 490px;
    top: 105px;
    z-index: -99;
    animation: movebounce 10s linear infinite;
    -webkit-animation: movebounce 10s linear infinite;
}

.worked-more3 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: normal;
}

.client-img-main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.client-img-2 {
    border-radius: 50%;
    cursor: pointer;
}

.client-img-2 {
    position: relative;
}

@media (max-width: 1024px) {
    .slider-content h1 {
        font-size: 40px !important;
    }

    .banner-buttons {
        width: auto !important;
    }

    .dedcription-btn {
        width: 100% !important;
    }
}

.userOptions {
    margin-bottom: 1.5rem;
    border-radius: 15px;
    padding: 10px;
}

.custom-button {
    background: linear-gradient(90deg, #30A251 0%, #43B97F 100%);
    color: white;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    border: 2px solid rgba(91, 198, 122, 1);
    padding: 2px;
    box-sizing: border-box;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.button-icon {
    background-color: #ffa726;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
}

.loginLink {
    font-size: 1rem;
    color: #6b7280;
}

.btn-arrow {
    font-size: 40px;
}

.btn-name {
    font-size: 20px;
}

@keyframes movebounce {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    50% {
        transform: translateY(40px);
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.icon-text-section {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
}

.icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.icon-circle svg {
    color: #ffffff;
    font-size: 1.2rem;
}

@media screen and (min-width: 992px) and (max-width: 1336px) {
    .slider-thumb img {
        display: none !important;
    }

    .banner-buttons {
        gap: 50px !important;
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 767px) {
    .slider-content h1 {
        font-size: 26px !important;
    }

    .icon-circle {
        width: 100px;
        height: 35px;
    }

    .icon-text-section {
        padding: 10px;
    }

    .button-icon {
        width: 5.5rem;
    }
}